/* START main loader styles */
.loader {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
}

.box {
    width: 45%;
    height: 45%;
    background: #666666;
    opacity: 0;
    -webkit-animation: load 1s linear infinite;
    animation: load 1s linear infinite;
}

.box:nth-of-type(1) {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
}

.box:nth-of-type(2) {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
}

.box:nth-of-type(3) {
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.box:nth-of-type(4) {
    position: absolute;
    bottom: 2.5%;
    left: 2.5%;
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
}

@-webkit-keyframes load {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* END main loader styles */


/* START inline loader */
.loading-circle {
    text-align: center;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #cecece00;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1.5s linear infinite;
    /* Safari */
    animation: spin 1.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* END inline loader */

svg {
    height: 90vh;
    margin: auto;
    display: block;
}

path {
    stroke-linecap: round;
    stroke-width: 6;
}

path.grey {
    stroke: #e7e7e8;
}

path.blue {
    stroke: url(#gradient);
    stroke-dasharray: 198;
    stroke-dashoffset: 198;
    animation: dash 3s ease-out forwards;
    transition: 1s all;
}



/* start circle scores */
/* ----- The actual thing ----- */

/* Variables */

:root {
    --rating-size: 3rem;
    --bar-size: 0.3rem;
    --background-color: #e7f2fa;
    --rating-color-default: #2980b9;
    --rating-color-background: #c7e1f3;
    --rating-color-good: #27ae60;
    --rating-color-meh: #f1c40f;
    --rating-color-bad: #e74c3c;
}

/* Rating item */
.rating {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;

    background: var(--rating-color-default);
    color: var(--rating-color-default);
    width: var(--rating-size);
    height: var(--rating-size);

    /* Basic style for the text */
    font-size: calc(var(--rating-size) / 3);
    line-height: 1;
}

/* Rating circle content */
.rating span {
    position: relative;
    display: flex;
    font-weight: bold;
    z-index: 2;
}

.rating span small {
    font-size: 0.5em;
    font-weight: 900;
    align-self: center;
}

/* Bar mask, creates an inner circle with the same color as thee background */
.rating::after {
    content: "";
    position: absolute;
    inset: var(--bar-size);
    background: var(--background-color);
    border-radius: inherit;
    z-index: 1;
}

/* Bar background */
.rating::before {
    content: "";
    position: absolute;
    inset: var(--bar-size);
    border-radius: inherit;
    box-shadow: 0 0 0 1rem var(--rating-color-background);
    z-index: -1;
}

/* Classes to give different colors to ratings, based on their score */
.rating.good {
    background: var(--rating-color-good);
    color: var(--rating-color-good);
}

.rating.meh {
    background: var(--rating-color-meh);
    color: var(--rating-color-meh);
}

.rating.bad {
    background: var(--rating-color-bad);
    color: var(--rating-color-bad);
}

/* end circle scores */





/*start ticket */
.bp-card {
    position: relative;
}

.bp-card .bp-card_label {
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 30px;
    width: 130px;
    background: white;
    cursor: pointer;
}

.bp-card .bp-card_label::before {
    content: '';
    background-color: transparent;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/372262/ticket-top.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: 0;
}

.bp-card .bp-card_label::after {
    content: '';
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/372262/ticket-bottom.svg');
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 130px;
    height: 100px;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.bp-card .bp-card_label .bd-border_dotted {
    content: '';
    width: 0px;
    border-right: 5px dashed #F0F0F0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 40px;
}

.bp-card .bp-card_label .bd-border_solid {
    content: '';
    width: 3px;
    border-radius: 3px;
    background: #FFAF96;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(130px/3.1);
}

.bp-card .bp-card_content {
    position: relative;
    background: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: calc(100% - 130px);
    margin-left: calc(130px - 1px);
    padding: 35px;
}

.bp-card .bp-card_content h4 {
    font-size: 40px;
    margin: 0 0 0 140px;
}

.bp-card .bp-card_content p.secondary {
    color: #FFAF96;
    margin: 0;
    padding-top: 10px;
}

.bp-card .bp-card_content ul {
    list-style: none;
    margin: 50px 0 0 0;
    padding: 0;
}

.bp-card .bp-card_content ul span {
    display: block;
    color: #A8A8A8;
}

.bp-card .bp-card_content ul li {
    padding: 0;
    display: inline-block;
    padding-left: 30px;
}

.bp-card .bp-card_content a.price {
    color: #FFAF96;
    text-decoration: none;
    position: absolute;
    top: 35px;
    left: 35px;
    font-size: 36px;
    background: rgba(255, 175, 150, 0.1);
    padding: 10px;
    border-radius: 3px;
}

@media only screen and (max-width: 600px) {
    .bp-card {
        position: relative;
    }

    .bp-card .bp-card_label {
        top: 0;
        right: 0;
        bottom: 0;
        width: calc(100% - 40px);
        margin-right: 20px;
        height: 120px;
        position: relative;
    }

    .bp-card .bp-card_label:after,
    .bp-card .bp-card_label:before {
        transform: rotate(90deg);
        transform-origin: top left;
        width: 126px;
        top: -2px;
    }

    .bp-card .bp-card_label:after {
        left: 80px;
        right: auto;
    }

    .bp-card .bp-card_label:before {
        left: auto;
        right: -146px;
    }

    .bp-card .bp-card_label .bd-border_dotted {
        width: 100%;
        border-top: 4px dashed #F0F0F0;
        border-right: none;
        height: 4px;
        top: 92px;
        left: 0;
    }

    .bp-card .bp-card_label .bd-border_solid {
        width: 80%;
        background: #FFAF96;
        height: 3px;
        top: 45px;
        left: 10%;
    }

    .bp-card .bp-card_content {
        margin-left: 0;
        width: 100%;
        padding: 3% 5% 5% 5%;
    }

    .bp-card .bp-card_content h4 {
        font-size: 32px;
        margin: 0;
    }

    .bp-card .bp-card_content ul {
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0;
    }

    .bp-card .bp-card_content ul span {
        display: block;
        color: #A8A8A8;
    }

    .bp-card .bp-card_content ul li {
        padding: 0;
        display: inline-block;
        width: 100%;
        padding-left: 30px;
        margin-bottom: 5px;
    }

    .bp-card .bp-card_content a.price {
        position: relative;
        width: 100%;
        display: block;
        margin: 0 auto;
        top: auto;
        left: auto;
        margin-top: 20px;
        text-align: center;
    }

    .bp-card .bp-card_content a.price:before {
        content: '';
        background: url('http://imgh.us/i-arrow.svg') center no-repeat;
        background-size: contain;
        position: absolute;
        left: 22px;
        top: 22px;
        width: 20px;
        height: 20px;
    }
}

/*end ticket*/




.dg-next-step-button {
    color: #ffffff !important;
    background-color: #29a0ff !important;
    border: none !important;
}

.dg-prev-step-button {
    border: 1px solid #cccccc !important;
    background-color: #ffffff !important;
    color: #aaaaaa !important;
}

.dg-main-container input {
    border: none !important;
    outline: none !important;
}

.dg-next-step-button,
.dg-prev-step-button {
    user-select: none !important;
    border-radius: 0.75rem !important;
    padding: 15px 10px !important;
}

.option {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #cccccc;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
}

.option:hover {
    background-color: #efefef;
}

.bullet {
    transition: 0.3s all;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    border-radius: 100%;
    margin-left: 10px;
    background-color: #ffffff;
    padding: 2px;
}

.selected {
    transition: 0.3s all;
    background-color: rgb(209, 234, 255) !important;
    border: 1px solid rgb(90, 150, 255);
}

.selected .bullet {
    background-color: rgb(90, 150, 255);
    color: white !important;
}

.bullet .check {
    display: none;
}

.selected .bullet .check {
    display: block;
}

.dg-entrance-card {
    z-index: 9999999999999;
}

@media screen and (min-width: 1024px) {
    #plotId {
        width: 480px;
    }
}

.dg-after-exam-question {
    transform: matrix(1, 0, 0, 1, 0, 0) !important;
}


/* tailwind css */

.static {
    position: static;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bottom-0 {
    bottom: 0px;
}

.bottom-5 {
    bottom: 1.25rem;
}

.left-0 {
    left: 0px;
}

.left-2 {
    left: 0.5rem;
}

.right-0 {
    right: 0px;
}

.right-2 {
    right: 0.5rem;
}

.top-12 {
    top: 3rem;
}

.top-4 {
    top: 1rem;
}

.z-\[2\] {
    z-index: 2;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-5 {
    margin-left: 1.25rem;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.h-2 {
    height: 0.5rem;
}

.h-4 {
    height: 1rem;
}

.h-6 {
    height: 1.5rem;
}

.h-\[90vh\] {
    height: 90vh;
}

.h-screen {
    height: 100vh;
}

.h-\[63px\] {
    height: 63px;
}

.max-h-\[600px\] {
    max-height: 600px;
}

.w-2\/3 {
    width: 66.666667%;
}

.w-4 {
    width: 1rem;
}

.w-9 {
    width: 2.25rem;
}

.w-auto {
    width: auto;
}

.w-full {
    width: 100%;
}

.max-w-\[300px\] {
    max-width: 300px;
}

.max-w-\[500px\] {
    max-width: 500px;
}

.max-w-\[580px\] {
    max-width: 580px;
}

.max-w-\[600px\] {
    max-width: 600px;
}

.flex-auto {
    flex: 1 1 auto;
}

.cursor-pointer {
    cursor: pointer;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

.gap-3 {
    gap: 0.75rem;
}

.overflow-auto {
    overflow: auto;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-y-visible {
    overflow-y: visible;
}

.rounded-xl {
    border-radius: 0.75rem;
}

.rounded-b-xl {
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.border {
    border-width: 1px;
}

.border-l {
    border-left-width: 1px;
}

.border-solid {
    border-style: solid;
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.bg-blue-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.p-5 {
    padding: 1.25rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pt-0 {
    padding-top: 0px !important;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-\[18px\] {
    font-size: 18px;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.font-semibold {
    font-weight: 600;
}

.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.duration-1000 {
    transition-duration: 1000ms;
}

.duration-300 {
    transition-duration: 300ms;
}

.duration-\[0\.9s\] {
    transition-duration: 0.9s;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover\:bg-\[\#efefef\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(239 239 239 / var(--tw-bg-opacity));
}

.focus-visible\:outline-none:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .md\:p-4 {
        padding: 1rem;
    }

    .md\:p-7 {
        padding: 1.75rem;
    }

    .md\:text-\[20px\] {
        font-size: 20px;
    }
}

@media (min-width: 1024px) {
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .lg\:gap-5 {
        gap: 1.25rem;
    }

    .lg\:p-10 {
        padding: 2.5rem;
    }

    .lg\:p-6 {
        padding: 1.5rem;
    }

    .lg\:text-\[22px\] {
        font-size: 22px;
    }
}